.box{
    width: 400px;
    height: 400px;
    margin: 200px auto;
    background-color: aquamarine;
    padding: auto;
    border: 30px solid ;
    border-image-source:url("download.jfif");
    border-image-slice: 25;
}